body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #335C67 !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.carrito {
    width: 3rem;
}

.Home__imgCard {
    width: 10rem !important;
    object-fit: contain;
}

@media only screen and (max-width: 767px) {
    .btn {
        margin-bottom: 20px;
    }
}

License Terms .loader {
    padding-top: 90rem !important;
}

.Cart__titleItem,
.Cart__priceItem {
    color: white;
}

.Cart__ContainerItems {
    background-color: #540B0E !important;
    color: black !important;
}